--extra-index-url https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/
PyQt5>=5.15.0
scipy
pillow<=9.5.0
PyQt-Fluent-Widgets
PyQtWebEngine
system_hotkey
pygetwindow
opencv-python==4.10.0.84
onnxruntime==1.19.2
pyclipper
shapely==2.0.6