--extra-index-url https://mirrors.aliyun.com/pypi/simple/
PyQt5>=5.15.0
scipy
pillow<=9.5.0
PyQt-Fluent-Widgets
PyQtWebEngine
system_hotkey
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
qrcode==8.0
onnxruntime==1.19.2
pyclipper
shapely==2.0.6
fuzzywuzzy