/* <----------------- 自定义样式 -----------------> */

/* 隐藏工具栏 */
.toolbar {
  display: none;
}

/* 隐藏所有滚动条 */
:root {
  overflow: hidden;
  background-color: yellow;
  /* opacity: 0.1; */
}

canvas {
  background-color: blue;
  /* opacity: 0.5; */
}

/* pdf页面对齐到画板左上角 */
.pdfViewer .page {
  margin: 0;
  border: 0;
}